body {
  background-color: #FFDE94;
}

.playfair-display-uniquifier {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600; /* або 500, 600, 700… */
  font-style: normal;
}

header {
  background-color: #781D42; /* change to any color you like */
  color: white;
}

.intro {
  background-image: url('vintage-and-antique-leather-bound-books1.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full screen height */
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  padding-left: 5%;
}

.intro-text {
  background-color: rgba(0, 0, 0, 0.5); /* Optional: adds dark overlay */
  padding: 20px 40px;
  border-radius: 10px;
}

.intro-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.btn {
  background-color: #DE834D;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background-color: #f59056;
}


.products-list {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.navbar {
      background-color: #7a0d3c;
    }

    .navbar-brand,
    .navbar-nav .nav-link {
      color: #ffedc5 !important;
      font-weight: 500;
    }

    .navbar-nav .nav-link:hover {
      color: #ffffff !important;
    }

    .navbar .container-fluid {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    .navbar-nav {
      flex-direction: row;
    }

    /* Optional: make links nicely spaced */
    .navbar-nav .nav-item {
      margin-left: 15px;
    }

footer .logo {
  width: 200px; /* 👈 робиш менше */
  height: auto;
}

footer {
  background: #781D42;
  padding: 20px;
  color: white;
}

.footer-content {
  display: flex;
  align-items: center; /* Вирівнює картинку і текст по центру по вертикалі */
  gap: 20px; /* Відступ між картинкою і текстом */
}
